* {
    box-sizing: border-box;
}

html {
    background: transparent;
    font-size: 14px;
    background: #eee;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
    padding: .75em;
}

body.darwin {
    font-size: 12px;
}

#header-container {
    display: flex;
}

section + section {
    margin-top: .75em;
}

h1 {
    font-size: 1em;
}

#icon {
    flex-grow: 0;
    min-width: 48px;
    margin-right: 1.5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

#changelog {
    box-shadow: 0 0 1px #aaa;
    background: white;
    padding: .75em;
    flex-basis: 150px;
    flex-grow: 1;
    overflow-y: auto;
}

#changelog h2 {
    margin-top: 0;
    font-size: 1.15em;
}

#changelog * ~ h2 {
    margin-top: .75em;
}

.progress {
    display: none;
}

.progress-indeterminate {
    display: flex;
}

#progress-bar {
    flex-grow: 1;
    height: 1.5em;
}

.buttons {
    display: flex;
}

button {
    padding: .25em .75em;
}

.darwin button {
    appearance: none;
    font-size: 12px;
    background: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}

.darwin button:focus {
    color: #fffffe;
    background-image: linear-gradient(#6ab1fa, #0a80ff 80%);
    border-color: #055eff;
    border-top-color: #4aa0f9;
    outline: none;
}

.darwin button:active {
    color: #deeafc;
    background-image: linear-gradient(#3e8bfb, #045de0 80%);
    border-color: #0038d8;
    border-top-color: #408cfd;
}

button + button:last-of-type {
    margin-left: .75em;
}

.spacer {
    min-height: .75em;
    min-width: .75em;
}

.spacer.expanding {
    flex-grow: 1;
}